[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.18.5"
argcomplete = "==3.7.0"
blinker = "==1.9.0"
click = "==8.4.2"
colorama = "==0.4.6"
filelock = "==3.30.3"
flask = "==3.1.3"
flask-migrate = "==4.1.0"
flask-sqlalchemy = "==3.1.1"
greenlet = "==3.5.3"
iniconfig = "==2.3.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.6"
mako = "==1.3.12"
markupsafe = "==3.0.3"
numpy = "==2.5.1"
packaging = "==26.2"
pandas = "==3.0.3"
pipx = "==1.16.0"
platformdirs = "==4.10.0"
pluggy = "==1.6.0"
pygments = "==2.20.0"
pytest = "==9.1.1"
python-dateutil = "==2.9.0.post0"
six = "==1.17.0"
sqlalchemy = "==2.0.51"
typing-extensions = "==4.16.0"
tzdata = "==2026.3"
userpath = "==1.9.2"
werkzeug = "==3.1.8"

[dev-packages]

[requires]
python_version = "3.14"
