alembic==1.18.5
blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
distlib==0.4.1
filelock==3.29.1
Flask==3.1.3
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.3
idna==3.18
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
mdurl==0.1.2
numpy==2.5.1
packaging==26.2
pandas==3.0.3
pipenv==2026.6.1
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-discovery==1.4.0
requests==2.34.2
rich==15.0.0
setuptools==82.0.1
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
virtualenv==21.4.2
Werkzeug==3.1.8
